/********* overriding swal2 *********/

.swal2-title {
    color: #fff !important;
}
.swal2-html-container {
    color: #cbcbcb !important;
}
/************************************/

.outer-group {
    height: 600px;
}

.temp-btn-status {
    font-weight: 500;
}

.temp-btn-grp {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin-bottom: 40px;
}

.template-popover {
    background-color: #282828;
    padding: 5px;
    border-radius: 10px;
}

/*-----------------------------------------------------------------------------------------------------------------------*/

/*600px and down*/
@media only screen and (max-width: 600px) {
    .temp-btn-grp {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        margin-bottom: 40px;
    }

    .outer-group {
        height: 500px;
    }
}

/*600px and up*/
@media only screen and (min-width: 600px) {
    .temp-btn-grp {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        margin-bottom: 40px;
    }

    .outer-group {
        height: 400px;
    }
}

/*768px and up*/
@media only screen and (min-width: 768px) {
    .temp-btn-grp {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        margin-bottom: 40px;
    }
    .outer-group {
        height: 500px;
    }
}

/*992px and up*/
@media only screen and (min-width: 992px) {
    .temp-btn-grp {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        margin-bottom: 40px;
    }
    .outer-group {
        height: 800px;
    }

}

/*1200px and up*/
@media only screen and (min-width: 1200px) {
    .temp-btn-grp {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        margin-bottom: 40px;
    }
    .outer-group {
        height: 600px;
    }
}