.outer-div {
    margin-top: 5px;
}

.admin-badge {
    background-image: linear-gradient( 112.7deg,  rgba(253,185,83,1) 11.4%, rgba(255,138,0,1) 70.2% );

    /*background-image: radial-gradient( circle 759px at -6.7% 50%,  rgba(80,131,73,1) 0%, rgba(140,209,131,1) 26.2%,*/
    /*rgba(178,231,170,1) 50.6%, rgba(144,213,135,1) 74.1%, rgba(75,118,69,1) 100.3% );*/

    /*background-image: radial-gradient( circle 602px at 2.1% 5.1%,  rgba(233,0,120,1) 0%, rgba(0,0,0,1) 90.1% );*/
}

.editor-badge {
    background-image: radial-gradient( circle 759px at -6.7% 50%,  rgba(80,131,73,1) 0%, rgba(140,209,131,1) 26.2%,
    rgba(178,231,170,1) 50.6%, rgba(144,213,135,1) 74.1%, rgba(75,118,69,1) 100.3% );
}

.reviewer-badge {
    background-image: radial-gradient( circle 602px at 2.1% 5.1%,  rgba(233,0,120,1) 0%, rgba(0,0,0,1) 90.1% );
}

.role-badge {
    display: inline-block;
    margin: auto;
    padding: 5px 35px;
    font-size: 80px;
    font-weight: bold;
    border-radius: 10px;
    color: #ffffff;
    box-shadow: 1px 3px 10px 1px rgba(0, 0, 0, 0.2);
    border: 10px solid rgba(0, 0, 0, 0.2);
}

.role-title {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    color: #000000;
}

.details-div {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    margin-top: 30px;
}

.item-div {
    font-size: 20px;
    padding: 30px 0;
    color: #404040;
    text-align: center;
    background-color: #e2e2e2;
    border-top: 3px solid #efefef;
}

/*600px and down*/
@media only screen and (max-width: 600px) {
    .role-badge {
        padding: 10px 35px;
        font-size: 60px;
    }

    .item-div {
        padding: 30px 0;
    }
}

/*600px and up*/
@media only screen and (min-width: 600px) {
    .role-badge {
        padding: 10px 35px;
        font-size: 70px;
    }

    .item-div {
        padding: 30px 0;
    }
}

/*768px and up*/
@media only screen and (min-width: 768px) {
    .role-badge {
        padding: 5px 35px;
        font-size: 80px;
    }

    .item-div {
        padding: 30px 0;
    }
}

/*992px and up*/
@media only screen and (min-width: 992px) {
    .role-badge {
        padding: 10px 35px;
        font-size: 60px;
    }

    .item-div {
        padding: 35px 0;
    }
}

/*1200px and up*/
@media only screen and (min-width: 1200px) {
    .role-badge {
        padding: 5px 35px;
        font-size: 80px;
    }

    .item-div {
        padding: 30px 0;
    }
}
