.main-div {
    height: 600px;
}

.btn-status {
    font-weight: 500;
}

.conference-btn-group {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    margin-bottom: 40px;
}

/*600px and down*/
@media only screen and (max-width: 600px) {
    .main-div {
        height: 800px;
    }

    .conference-btn-group {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto;
    }
}

/*600px and up*/
@media only screen and (min-width: 600px) {
    .main-div {
        height: 500px;
    }

    .conference-btn-group {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto;
    }
}

/*768px and up*/
@media only screen and (min-width: 768px) {
    .main-div {
        height: 500px;
    }

    .conference-btn-group {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto;
    }
}

/*992px and up*/
@media only screen and (min-width: 992px) {
    .main-div {
        height: 600px;
    }

    .conference-btn-group {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto;
    }
}

/*1200px and up*/
@media only screen and (min-width: 1200px) {
    .main-div {
        height: 600px;
    }

    .conference-btn-group {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto;
    }
}